@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --brown: #f59366;
    --white: #fffaf7;
    --pure-brown: #373234;
    --black: #000000;
    --font: 'Rubik', sans-serif;
    --pure-font: 'Plus Jakarta Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font);
    color: var(--black);
    background-color: var(--white);
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* NAVBAR */
.navbar {
    box-shadow: 0 1px 4px 0 #00000011;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.2rem 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    backdrop-filter: blur(5px);
    background-color: #37323400;
}
.navbar.light {
    backdrop-filter: blur(10px);
    background-color: #fffaf799;
    transition: 0.1s;
}
.navbar.light .navbar-logo{
    color: var(--pure-brown);
}
.navbar.light .navbar-nav .nav-list a {
    color: var(--pure-brown);
}
.navbar.light .order-button {
    /* color: var(--white); */
    transition: 0.1s;
}


.navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--white);
}
.navbar .navbar-logo span {
    color: var(--brown);
}
.navbar .navbar-logo img {
    height: 3rem;
}
.navbar .navbar-nav {
    display: flex;
    align-items: center;
}

.order-button {
    border: 1px var (--brown) solid;
    border-radius: 7.5px;
    background-color: var(--brown);
    padding: 0.6rem 0.7rem;

}
.navbar .navbar-nav .order-button {
    margin-left: 1.5rem;
}
.navbar.light .navbar-nav .order-button {
    color: var(--white);
}
.order-button:hover {
    box-shadow: 0 0 7.5px 1px #d37e5755;
}

.order-button {
    color: var(--pure-brown);
    font-weight: 500;
    font-size: 0.9rem;
}

.navbar .navbar-nav .nav-list a {
    margin-left: 1.5rem;
    opacity: 0.7;
    font-size: 0.9rem;
    color: var(--white);
}
.navbar .navbar-nav .nav-list a:hover {
    opacity: 1;
}

.navbar .navbar-nav .menu {
    color: var(--white);
    font-size: 1.8rem;
    display: none;
}
.navbar.light .navbar-nav .menu {
    color: var(--black);
}

.content {
    padding: 6rem 14% 0;
    z-index: 8;
}

/* HEADER */
.header {
    height: 100vh;
    position: relative;
    background: url(./img/cover.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: var(--white);
}
.header .dark {
    background-color: #373234bb;
    background: linear-gradient(180deg, #373234bb, #373234ee, #37323488);
    height: 100%;
}


.header .content {
    padding: 0 14% 0;
    height: 100vh;
    /* background-color: red; */
}
.header .content .hello {
    display: flex;
    height: 100%;
    width: auto;
    position: relative;
    align-items: center;
    justify-content: left;
    font-family: var(--pure-font);
}

.header .content .hello .tagline {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.header .order-button {
    position: absolute;  
    font-family: var(--font);
    bottom: 30%;
    left: 0;
}



/* ABOUT */
.about {
    height: 100vh;
    background-color: var(--pure-brown);
    /* color: var(--white); */
    /* background-color: var(--pure-brown); */
}
.about .content {
    padding: 0 14%;
    display: flex;
    align-items: center;
    color: var(--white);
    height: 100%;
}
.about .slide-wrapper {
    position: relative;
    width: 50%;
}
.about .slider {
    display: flex;
    aspect-ratio: 1/1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    transition: transform 0.5s ease;
}
.about .slider  img {
    border-radius: 0.5rem;
    flex: 1 0 100%;
    scroll-snap-align: start;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.about .about-article {
    padding: 0 0 0 1rem;
}
.about .about-article .desc {
    padding: 1rem 0;
    font-family: var(--pure-font);
    text-align: justify;
}
.about .about-article .desc p {
    margin-bottom: 1rem;
}
.about .about-article .desc .logo-halal {
    background-color: var(--white);
    display: inline-block;
}
.about .about-article .desc img {
    width: 4rem;
    height: auto;
}







/* PRODUCT */
.product {
    position: relative;
    min-height: 100vh;
    background-color: var(--white);
}
.product h2 {
    text-align: center;
}
.product .product-container {
    margin: 4rem 0 0 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
.product .product-container .product-box {
    width: 100%;
}
.product .product-container .product-box img {
    box-shadow: 0 0 4px 0 #00000044;
    border: 1px #00000033 solid;
    border-radius: 20px;
}
.product .product-container .right {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    /* background-color: red; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
.product .product-container .right .product-box {
    margin-bottom: 1rem;
}
.product .product-container .right img {
    border-radius: 10px;
}

.product .product-container .product-box img {
    width: 100%;
}















/* CONTACT */
.contact {
    /* height: 100vh; */
    position: relative;
}
.contact h2 {
    text-align: center;
}
.contact .contact-box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0 2rem;
}
.contact .contact-box .link {
    background-color: var(--white);
    width: 10rem;
    height: 10rem;
    border-radius: 15px;
    border: 1px #00000011 solid;
    box-shadow: 0 0 4px 0 #00000011;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-box .link:hover {
    box-shadow: 0 0 6px 1px #d37e5744;
}
.contact .contact-box .link div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact .contact-box .link i {
    font-size: 3.2rem;
}
.contact .contact-box a {
    font-size: 0.9rem;
}
.contact .contact-box .whatsapp {
    color: rgb(20, 172, 20);
}
.contact .contact-box .instagram {
    color: #673ab7;
}
.contact .contact-box .email {
    color: rgb(197, 42, 18);
}
















/* FOOTER */
.footer {
    display: flex;
    position: relative;
    /* align-items: center; */
    /* height: 12rem; */
    background-color: var(--pure-brown);
    color: var(--white);
}
.background {
    position: absolute;
    width: 100%;
    background-image: url(./img/background.png);
    background-position: center center;

}
.footer .content {
    padding: 14rem 14% 8rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer h2 {
    font-size: 2.2rem;
}
.footer .footer-logo {
    margin-bottom: 1rem;
    width: 20%;
    /* background-color: red; */

    /* font-size: 1.2rem; */
}
.footer .footer-logo img {
    width: 100%;

}
.footer a {
    color: var(--white);
}
.footer .footer-nav {
    display: flex;
    flex-direction: column;
}
.footer .footer-nav a {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    font-family: var(--pure-font);
}
.footer .footer-nav a:hover {
    opacity: 0.8;
}
.footer .order-button {
    margin-top: 0.75rem;
    display: inline-block;
    z-index: 2;

}
.footer .order-button a {
    color: var(--black);
    font-size: 1rem;
}
.footer .footer-address {
    width: 60%;
    margin: 0 2rem; 
}
.footer .footer-address p {
    font-family: var(--pure-font);
    font-size: 0.9rem;

}
.footer iframe {
    margin: 1rem 0;
}
.footer .footer-contact {
    /* background-color: red; */
    width: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.footer .footer-contact h3 {
    margin-bottom: 1rem;
}
.footer .contact-link {
    font-family: var(--pure-font);
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.footer .contact-link a {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
}
.footer .contact-link i {
    margin-right: 0.4rem;
}
.footer .contact-link a:hover {
    opacity: 0.8;
}
.footer .certification {
    display: flex;
    width: 100%;
}
.footer .certification .logo {
    width: 50%;
}
.footer .certification .logo.halal {
    background-color: var(--white);
}
.footer .certification .logo img {
    width: 100%;
}

.footer span {
    color: var(--brown);
}

.credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 0.6rem;
    font-family: var(--pure-font);
    transform: translateX(-50%);
}



svg {
    position: absolute;
    z-index: 1;
}


@media (max-width: 768px) {
    .navbar {
        padding: 1.2rem 7%;
    }
    .navbar .navbar-nav .nav-list, .navbar .order-button {
        display: none;
    }
    .navbar .navbar-nav #menu {
        display: block;
    }
    .content {
        padding: 6rem 7%;
    }
    
    .header .content {
        padding: 0 7%;
    }
    .header .content .hello .tagline {
        font-size: 2.5rem;
    }
    .about {
        min-height: 100vh;
        padding: 5rem 0;
    }
    .about .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 7%;
    }
    .about .slide-wrapper {
        width: 100%;
    }
    .about .about-article {
        padding-top: 1rem;
        width: 100%;
    }
    .contact .contact-box {
        flex-direction: column;
        
    }
    .footer .content {
        flex-direction: column;
        align-items: center;
    }
    .footer .content .footer-logo, .footer .content .footer-address, .footer .content .footer-contact {
        width: 100%;
    
    }
    
}